@import "../../_globalColor";

.social-media-div {
  font-size: 2em;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* Ensure circle shape on hover if needed */
  transition: 0.2s ease-in;
}

.icon-button i {
  color: $textColorDark;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 2.6rem;
  width: 2.6rem;
  position: relative;
  text-align: center;
  user-select: none;
  transition: 0.2s ease-in;
}

.facebook i {
  background-color: $faceBook;
}

.linkedin i {
  background-color: $linkedin;
}

.github i {
  background-color: $github;
}

.gitlab i {
  background-color: $gitlab;
}

.google i {
  background-color: $google;
}

.twitter i {
  background-color: $twitter;
}

.medium i {
  background-color: $medium;
}

.stack-overflow i {
  background-color: $stackoverflow;
}

.kaggle i {
  background-color: $kaggle;
}

.instagram i {
  background-color: $instagram;
}

.codeforces i {
  background-color: $codeforces;
}

.codechef i {
  background-color: $codechef;
}

/* Hover Transition */
.twitter i:hover,
.google i:hover,
.gitlab i:hover,
.github i:hover,
.linkedin i:hover,
.facebook i:hover,
.instagram i:hover,
.stack-overflow i:hover,
.kaggle i:hover,
.codeforces i:hover,
.codechef i:hover,
.medium i:hover {
  background-color: $textColor;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}
